.quantity {
    padding: 1rem 0;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--dark-grey);
}

.input-aBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-aBtn input {
    width: 20%;
    border: solid 1px black;
}

.input-aBtn a {
    padding: 1rem;
    width: 50%;
    color: white;
    background-color: var(--pink);
    text-align: center;
}