.product
    include ../../molecules/product-images/product-images.pug
    include ../../atoms/single-image/single-image.pug
    include ../../organisms/product-details/product-details.pug
    include ../../organisms/buying-options/buying-options.pug