.product-details
    include ../../atoms/product-title/product-title.pug
    include ../../atoms/product-code/product-code.pug
    include ../../molecules/product-rate/product-rate.pug
    include ../../molecules/product-prices/product-prices.pug
    include ../../atoms/product-type/product-type.pug