.group-products
    .title
        a(href="#") VER DISPONIBILIDAD EN TIENDA
    p Compra en grupo:
    .suggested-product
        .sp-image
            img(src="/src/res/images/sp.jpg")
        .sp-details
            p(class="sp-title") Red Dead Redemption 2 Xbox One
            .previous-price
                span $1,299
                sup 00
            .promo-price
                span $1,039
                sup 20
