.buying-options
    include ../../molecules/estimated-delivery/estimated-delivery.pug
    include ../../molecules/quantity/quantity.pug
    include ../../molecules/group-products/group-products.pug
    include ../../molecules/total-group/total-group.pug