.header-bar 
    include ../../atoms/liverpool-logo/liverpool-logo.pug
    include ../../organisms/search-box/search-box.pug
    a(href="#") Mis pedidos
    a(href="#") Iniciar sesión
    include ../../atoms/bag/bag.pug